.App {
  font-family: "Arial Rounded MT Bold", Tahoma, "Segoe UI", Consolas;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  background-position: center;
}

img {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  position: absolute;
  background-position: center;
}

.form {
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  width: calc(100% - 20px);
  margin: 10px 10px;
  line-height: 40px;
}

.label {
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.button {
  background-color: lightcoral;
  border-radius: 10px;
  border: unset;
  box-shadow: grey;
  cursor: pointer;
  padding: 1rem;
  margin-top: 1rem;
  font-family: "Arial Rounded MT Bold", Tahoma, "Segoe UI", Consolas;
  font-size: 20px;
  font-weight: bolder;
}

.button1 {
  border-radius: 10px;
  border: unset;
  box-shadow: grey;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  font-family: "Arial Rounded MT Bold", Tahoma, "Segoe UI", Consolas;
  font-size: 20px;
  font-weight: bolder;
}

button:hover {
  transition: 0.1s;
  transform: scale(1.1);
}

a {
  text-decoration: none;
  text-decoration-line: none;
}

.font-color {
  color:black;
}

.result {
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  font-weight: bolder;
  box-sizing: border-box;
  width: calc(100% - 20px);
}
